 body {
            background-color:#000000;
            }

            .header {
             color:purple;
             text-align:center;
             font-family:Cursive , Sans-Serif;
             font-weight:bold;
             font-size:3.125em;
            }
           
            .h2id {
            color:#000000;
            text-align:center;
            }

            div p {
            color:purple;
            margin-left:25em;
            margin-top:5em;
            display:inline-block;
            font-size:1.0em;
            }

            .square {
            width:18.750em;
            height:18.750em;
            background-color:#000000;
            border:1px dashed #000000;
            border-radius:10px;
            margin-left:0.1em;
            display:block;
            margin-top:-27.0em;
            }

            .rectangle {
            width:18.750em;
            height:18.750em;
            margin:right;
            background-color:purple;
            border:1px solid black;
            border-radius:10px;
            display:block;
            margin-left:0.1em;
            margin-top:-8em;
            }
         
            div img {
            width:9.375em;
            height:9.375em;
            background-color:#000000;
            border:1px dashed #000000;
            border-radius:100%;
            margin-left:3em;
            }

            div a {
              text-align:center;
              text-decoration:none;
              color:#000000;
              display:block;
            }
            
            div a:hover {
              text-align:center;
              text-decoration:underline;
              color:ghostwhite;
              display:block;
            }

            div a:visited {
              text-align:center;
              text-decoration:underline;
              color:ghostwhite;
              display:block;
            }
